body {
    background-size: cover;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#start, #number_of_object, #status {
    font-size: 20px;
}

canvas {
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 80px;
    box-shadow: 5px 5px 4px gray;
}

.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #6813EB;
    line-height: 3;
    text-align: center;
    color: #FDFCF2;
}